<form action="/skills" method="post">
  <input type="skill" name="skill[name]" placeholder="Name of Skill">
  <input type="skill" name="skill[status]" placeholder="Status of Skill">
  <input type="submit" />
</form>
