<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/application.css">
  <title>Skill Inventory</title>
</head>
<body>
  <a href='/skills'>Back to Skills</a>
  <a href='/skills/new'>Add a Skill</a>
  <%= yield %>
</body>
</html>
