<form method="post" action="/skills">
  <header>
    <a class="back btn btn-info" href="/skills">Cancel</a>
    <button class="btn btn-info" type="submit">Save</button>
    <h2>New Skill</h2>
  </header>
  <p><input class="form-control" type="text" name="skill[name]" placeholder="Name"></p>
  <p><textarea class="form-control" name="skill[description]" placeholder="Description"></textarea></p>
</form>
