<form class="" action="/skills" method="post">
  <h3>Enter a new skill:</h3>
  Skill Title:<br/>
  <input type="text" name="skill[title]"><br/>
  Skill Description:<br/>
  <textarea name="skill[description]" rows="8" cols="40"></textarea><br/>
  <input class="btn btn-primary" type="submit" value="Create New Skill">
</form>
