<header>
  <a class="back btn btn-info" href="/skills">Skills</a>
  <a class="btn btn-info" href="/skills/<%= @skill.id %>/edit">Edit</a>
  <h2 class="col-md-offset-4"><%= @skill.name %></h2>
</header>
<p class="col-md-10 col-md-offset-1"><%= @skill.description %></p>
